@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    box-sizing: border-box;
    font-size: 15px;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
    display: flex;
    background-color: #7C4DFF;
    align-items: center;
    justify-content: space-around;
}

.nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-link img {
    transition: opacity 0.3s ease;
}
.nav-link img {
    transition: opacity 0.3s ease;
}
.nav-link .active {
    display: block;
    opacity: 1;
}
.nav-link .inactive {
    display: none;
    opacity: 0;
}

.home-a, .calendar-a, .customization-a {
    display: none;
}
.home-i, .calendar-i, .customization-i {
    display: block;
}
